<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Ventixe</title>
    <link rel="stylesheet" href="~/css/site.css" /> <!-- your main css -->
</head>
<body>
    @RenderBody()
</body>
</html>