<footer class="footer">
    <div class="footer__left">
        <span class="footer__copyright">Copyright &copy 2025 Peterdraw</span>
        <div class="footer__links">
            <a href="#"><span>Privacy Policy</span></a>
            <a href="#"><span>Terms and conditions</span></a>
            <a href="#"><span>Contact</span></a>
        </div>
    </div>
    <div class="footer__right">
        <a href="#">
            <svg width="18"
                 height="18"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <use href="#icon-facebook" />
            </svg>
        </a>
        <a href="#">
            <svg width="14"
                 height="16"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <use href="#icon-x" />
            </svg>
        </a>
        <a href="#">
            <svg width="18"
                 height="18"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <use href="#icon-instagram" />
            </svg>
        </a>
        <a href="#">
            <svg width="18"
                 height="14"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <use href="#icon-youtube" />
            </svg>
        </a>
        <a href="#">
            <svg width="16"
                 height="16"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <use href="#icon-linkedin" />
            </svg>
        </a>
    </div>
</footer>