<header class="header">
    <div class="header__left">
        <h1 class="header__heading">Dashboard</h1>
        <span class="header__text">Hello Orlando, welcome back!</span>
    </div>
    <div class="header__right">
        <div class="header__search-wrapper">
            <input type="search"
                   class="header__search"
                   placeholder="Search anything" />
            <span class="header__search-icon">
                <svg width="18"
                     height="18"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <use href="#ico" />
                </svg>
            </span>
        </div>
        <div class="header__buttons">
            <a href="#">
                <svg width="40"
                     height="40"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon-notifications" />
                </svg>
            </a>
            <a href="#">
                <svg width="40"
                     height="40"
                     viewBox="0 0 40 40"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon-settings" />
                </svg>
            </a>
        </div>
        <div class="header__user-wrapper">
            <a href="">
                <svg class="header__user-avatar"
                     width="40"
                     height="40"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon-avatar" />
                </svg>
            </a>
            <div class="header__user-info">
                <span class="header__user-name">Orlando Laurentius</span>
                <span class="header__user-role">Admin</span>
            </div>
        </div>
    </div>
</header>