@using Frontend.Controllers
@using Frontend.Models
@inject UserContextService UserContextService 

@{
    var user = await UserContextService.GetCurrentUserAsync();

    var sidebarLinks = new List<SidebarLink>
    {
        new SidebarLink { Title = "Dashboard", Url = "/dashboard", Icon = "icon-dashboard" },
        new SidebarLink { Title = "Bookings", Url = "/bookings", Icon = "icon-bookings" },
        new SidebarLink { Title = "Invoices", Url = "/invoices", Icon = "icon-invoices" },
        new SidebarLink { Title = "Inbox", Url = "/inbox", Icon = "icon-inbox" },
        new SidebarLink { Title = "Calendar", Url = "/calendar", Icon = "icon-calendar" },
        new SidebarLink { Title = "Events", Url = "/events", Icon = "icon-events" },
        new SidebarLink { Title = "Financials", Url = "/financials", Icon = "icon-financials" },
        new SidebarLink { Title = "Gallery", Url = "/gallery", Icon = "icon-gallery" },
        new SidebarLink { Title = "Feedback", Url = "/feedback", Icon = "icon-feedback" }
    };

    ViewData["SidebarLinks"] = sidebarLinks;    
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(string.IsNullOrEmpty(ViewData["Title"] as string) ? "Ventixe-Event Management" : ViewData["Title"] + " - Ventixe-Event Management")
    </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivt.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TEMPsite.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/EditUserProfile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Frontend.styles.css" asp-append-version="true" />   
    <link rel="stylesheet" href="~/css/Invoice.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Events.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Icons" />

    <div class="wrapper">
        @await Html.PartialAsync("_Header", user)
        @await Html.PartialAsync("_ViewMobileMenu", ViewData["SidebarLinks"] as IEnumerable<SidebarLink>) 
        <partial name="_Sidebar" />

        <main class="main">
            @RenderBody()
        </main>
        <partial name="_Footer" />
    </div>  

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
