@using Frontend.Models
@model IEnumerable<Frontend.Models.SidebarLink>

<div id="mobileMenu" class="mobile__menu-overlay">
    <div class="mobile__menu-content">

       
        <div class="mobile__menu-user">
            <svg class="header__user-avatar" width="40" height="40">
                <use href="#icon-avatar" />
            </svg>
            <div class="mobile__menu-user-info">
                <span class="mobile__menu-user-name">Orlando Laurentius</span>
                <span class="mobile__menu-user-role">Admin</span>
            </div>
        </div>

       
        <nav class="mobile__menu-nav">
            <ul class="sidebar__nav-list">
                @foreach (var link in Model)
                {
                    var isActive = ViewData["ActivePage"] as string == link.Title.ToLower();
                    <li class="mobile__nav-item @(isActive ? "mobile__nav-item--active" : "")">
                        <a href="@link.Url">
                            <svg width="24" height="24">
                                <use href="#@link.Icon" />
                            </svg>
                            <span class="mobile__menu-text">@link.Title</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>

      
        <div class="mobile__menu-footer">
            <a href="#">
                <svg width="24" height="24"><use href="#icon-notifications" /></svg>
                <span>Notifications</span>
            </a>
            <a href="#">
                <svg width="24" height="24"><use href="#icon-settings" /></svg>
                <span>Settings</span>
            </a>
            <a href="/signin" class="mobile__signout-button">
                <img src="~/images/SignOut.svg" alt="" width="20" height="20" />
                <span>Sign out</span>
            </a>
        </div>

      
        <button id="closeMenu" class="mobile__menu-close" aria-label="Close menu">×</button>
    </div>
</div>