<div class="bookings">
    <div class="section-data">
        <div class="section-data-left">
            <div class="statistics">
                <div class="card-statistic">
                    <div class="card-top">
                        <img src="~/images/bookings/totalBookings.svg" />
                        <img src="~/images/bookings/buttonIcon.svg" />
                    </div>
                    <div class="card-info">
                        <span class="card-title">Total Bookings</span>
                        <div class="card-statistic-amount">55,000</div>
                    </div>
                </div>
                <div class="card-statistic">
                    <div class="card-top">
                        <img src="~/images/bookings/totalTicketsSold.svg" />
                        <img src="~/images/bookings/buttonIcon.svg" />
                    </div>
                    <div class="card-info">
                        <span class="card-title">Total Bookings</span>
                        <div class="card-statistic-amount">45,000</div>
                    </div>
                </div>
                <div class="card-statistic">
                    <div class="card-top">
                        <img src="~/images/bookings/totalEarnings.svg" />
                        <img src="~/images/bookings/buttonIcon.svg" />
                    </div>
                    <div class="card-info">
                        <span class="card-title">Total Bookings</span>
                        <div class="card-statistic-amount">$275,000</div>
                    </div>
                </div>
            </div>
            <div class="bookings-overview">
                <div class="section-header">
                    <div class="section-header-title">Bookings Overview</div>
                    <button class="section-header-button">This Week</button>
                </div>
                <div class="bookings-overview-diagram">diagram</div>
            </div>
        </div>
        <div class="bookings-category">
            <div class="section-header">
                <div class="section-header-title">Bookings Category</div>
                <button class="section-header-button">This Week</button>
            </div>
            <div class="category">
                <div class="total-bookings-amount">Total Bookings</div>
                <div class="list-category">
                    <div class="item-booking-category">
                        <div class="category2">
                            <span class="category2-name">Music</span>
                            <div class="percentage">(25.77%)</div>
                        </div>
                        <div class="category2-stat">
                            <div class="category2-stat-graf">graf</div>
                            <div class="category2-stat-amout">14,172</div>
                        </div>
                    </div>
                    <div class="item-booking-category">
                        <div class="category2">
                            <span class="category2-name">Sport</span>
                            <div class="percentage">(22.68%)</div>
                        </div>
                        <div class="category2-stat">
                            <div class="category2-stat-graf">graf</div>
                            <div class="category2-stat-amout">12,476</div>
                        </div>
                    </div>
                    <div class="item-booking-category">
                        <div class="category2">
                            <span class="category2-name">Fasion</span>
                            <div class="percentage">(17.83%)</div>
                        </div>
                        <div class="category2-stat">
                            <div class="category2-stat-graf">graf</div>
                            <div class="category2-stat-amout">9.806</div>
                        </div>
                    </div>
                    <div class="item-booking-category">
                        <div class="category2">
                            <span class="category2-name">Art & Designc</span>
                            <div class="percentage">(13.93%)</div>
                        </div>
                        <div class="category2-stat">
                            <div class="category2-stat-graf">graf</div>
                            <div class="category2-stat-amout">7,661</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-artDesign">
                <div class="list-artDesign-heading">
                    <span class="list-artDesign-heading-name">Art & Designc</span>
                    <div class="list-artDesign-heading--amount">(7,661 Bookings)</div>
                </div>
                <div class="list-artDesign-category">
                    <div class="item-artDesign-category-details">
                        <div class="artDesign-name">Landscape Architecture and Design</div>
                        <div class="graf">graf</div>
                        <div class="amout-stat">
                            <div class="amount-sold">3,415</div>
                            <div class="amount-left">4,000</div>
                        </div>
                    </div>
                    <div class="item-artDesign-category-details">
                        <div class="artDesign-name">Futuristic Art and Design</div>
                        <div class="graf">graf</div>
                        <div class="amout-stat">
                            <div class="amount-sold">2,246</div>
                            <div class="amount-left">2,500</div>
                        </div>
                    </div>
                    <div class="item-artDesign-category-details">
                        <div class="artDesign-name">Mixed Media Masterclass</div>
                        <div class="graf">graf</div>
                        <div class="amout-stat">
                            <div class="amount-sold">2,000</div>
                            <div class="amount-left">3,200</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bookings2">

    </div>
</div>