@model Frontend.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Update Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="edituser-form__wrapper">
    <form method="post" class="edituser-form" novalidate>
        <h2 class="edituser-form__title">Update Profile</h2>

        <div>
            <label asp-for="FirstName" class="edituser-form__label"></label>
            <input asp-for="FirstName" class="edituser-form__input" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div>
            <label asp-for="LastName" class="edituser-form__label"></label>
            <input asp-for="LastName" class="edituser-form__input" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div>
            <label asp-for="Phone" class="edituser-form__label"></label>
            <input asp-for="Phone" class="edituser-form__input" />
            <span asp-validation-for="Phone"></span>
        </div>

        <div>
            <label asp-for="Address.Street" class="edituser-form__label"></label>
            <input asp-for="Address.Street" class="edituser-form__input" />
            <span asp-validation-for="Address.Street"></span>
        </div>

        <div>
            <label asp-for="Address.City" class="edituser-form__label"></label>
            <input asp-for="Address.City" class="edituser-form__input" />
            <span asp-validation-for="Address.City"></span>
        </div>

        <div>
            <label asp-for="Address.PostalCode" class="edituser-form__label"></label>
            <input asp-for="Address.PostalCode" class="edituser-form__input" />
            <span asp-validation-for="Address.PostalCode"></span>
        </div>

        <button type="submit" class="edituser-form__button">Update</button>
    </form>

    <form asp-controller="Auth" asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
        <button type="submit" class="danger-button">Delete Account</button>
    </form>
    
</div>


