@model SignInViewModel

@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="auth-form__wrapper">
    <form method="post" class="auth-form" novalidate>
        <h2 class="auth-form__title">Sign In</h2>

        <div>
            <label asp-for="Email" class="auth-form__label" for="email"></label>
            <input asp-for="Email" class="auth-form__input"/>
            <span asp-validation-for="Email"></span>
        </div>
        
        <div>
            <label asp-for="Password" class="auth-form__label" for="password"></label>
            <input asp-for="Password" class="auth-form__input"/>
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit" class="auth-form__button">Sign In</button>

        <p class="auth-form__text">
            Don't have an account?
            <a class="auth-form__link" href="/signup">Sign up</a>
        </p>
    </form>
</div>